body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: #f5f5f5;
}

body {
    overflow-x: hidden;
}


/* TITLE */

.title-main {
    font-family: 'Playfair Display', serif;
    font-size: 42px;
    font-weight: 700;
}

.title-highlight {
    color: #d32f2f;
}


/* HERO GRID BACKGROUND */

.hero-bg {
    background-image: linear-gradient(#eaeaea 1px, transparent 1px), linear-gradient(90deg, #eaeaea 1px, transparent 1px);
    background-size: 30px 30px;
}


/* Dark mode vẫn giữ nguyên hero */

body.dark-mode .hero-bg {
    background: linear-gradient(135deg, #fff5f5, #ffecec);
}


/* TITLE */

.title-main {
    font-family: 'Playfair Display', serif;
    font-size: 42px;
    font-weight: 700;
}

.title-highlight {
    color: #d32f2f;
}


/* BUTTON */

.btn-primary {
    background: #d50000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}


/* đảm bảo dark mode không override */

body.dark-mode .title-main {
    color: #111;
}

body.dark-mode .hero-desc {
    color: #555;
}